@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ledger&family=Rakkas&display=swap');


body {
  background-color: #DAD6CE;
  margin-left: 3vw;
  margin-right: 3vw;

}
.header {
  display: flex;
  margin-top: 3vh;
  justify-content: space-between;
}

.logo {
  width: 25vw;
  height: 100%;
  align-self: flex-start;
  margin-top: 4vh;
}
.header-picture {
  /* margin-top: 10px; */
  width: 93.5vw;
  height: 100%;
  /* height: 35vh; */
}
.link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 28px;
  text-decoration: none;
  color: #403838;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  margin-left: 1em;
}
.link:hover  {
  background-color:#98BEC4;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.links {
  align-self: flex-end;
  margin-bottom: 40px;
}
.footer {
  display: flex;
  justify-content: space-between;
  /* width: 85vw; */
  margin-top: 50px;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.2em;
}

.footer {
  display: flex;
  justify-content: space-between;
  /* width: 85vw; */
  margin-top: 50px;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.2em;
}
.footer-info {
  display: flex;
}
.footer-string {
  font-family: 'Raleway';
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin-bottom: 10px; */
  margin-right: 3em;
}
.footer-string:last-child {
  margin-right: 0;
}

.footer-icon {
  width: 2vw;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  margin-left: 10px;
}
.footer-copyright {
  font-family: 'Train One', system-ui;
}
.container-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom:0; 
  height: 60vh;
  background-color: #F6F4F4;
  border-bottom: 3px solid #DAD6CE;
  position: relative;
  text-align: center;
}
.container-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top:0;
  margin-bottom: 10vh;
  background-color: #F6F4F4;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.red-square {
  background-color: #CA5153;
  width: 40vw; 
  height: 55vh; 
  position: absolute;
  top: -2em; 
  right: 2em; 
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.container-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  color: black;   
  width: 40vw; 
  position: absolute;
  text-align: left;
  margin-left: 2em; 
}
.red-square-text{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.square-text-one {
  color: white;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 2vw;
  letter-spacing: 5px;
  /* margin-bottom: 10em; */
}
.square-text-two {
  color:#FFFFFF;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
}
.square-text-three {
  color:#0029FF;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-size: 3vw;
}
.square-text-four {
  color:#FFFFFF;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
}
.container-two-paragraphs {
  margin-left: 1vw;
  padding-right: 3vw;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  color: black;   
  width: 40vw; 
  text-align: left;
  border-right: 3px solid rgb(49, 47, 47);
}
.container-two-years{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  color: black;   
  width: 40vw;
  margin-left: 2em; 
}
.years {
  margin: 0;
  font-family: 'Ledger', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15vw;
  color: rgb(49, 47, 47);   
  text-align: left;
}
.experience {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  color: black;   
  width: 30vw;
}